/* パソコン用 */
header#header {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: solid 2px #aaa;
    font-size: 0;
    @media(min-width: 1000px) {
        // パソコン用
        .header-wrapper {
            display: block;
            width: 100%;
            max-width: 1000px;
            height: inherit;
            margin: 0 auto;
            font-size: inherit;
            ul {
                display: table;
                table-layout: fixed;
                text-align: center;
                width: 100%;
                height: inherit;
                font-size: inherit;
                li {
                    display: table-cell;
                    // padding: 0 20px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                    vertical-align: top;
                    transition: .1s;
                    &:hover {
                        cursor: pointer;
                        color: #aaa;
                    }
                }
            }
        }
    }
    @media(max-width: 999px) {
        .header-wrapper {
            display: none;
        }
    }
}